@charset "utf-8";

/* 2. 메인영역 CSS */

@import url(core.css);
@import url(common.css);
@import url(reset.css);

body *{
    outline: 1px dashed limegreen;
}

.cont{
     /* 화면채움! */
     width: auto;

     /* 높이값 변경 - 상단영역 겹치므로 뺄필요없음 */
     /* height: 100vh; */
     box-sizing: border-box;
}

/************* 상단 배너 영역 시작 **************************/
/* 2-1. 상단 띠배너 : #main_banner */
#main_banner {
    width: 100%;
    margin-bottom: 3px;
}
#main_banner a{
    display: block;
    /* 색이반고윙/크  */
    background: lemonchiffon url(../images/main_banner_june.jpg) no-repeat 50% 0;
    height: 150px;
}

/* 2-2. 슬라이드 배너 : #slide_banner */
#slide_banner{
    position: relative;
    /* 자식 : .slide_banner li(배너이미지), .btns(좌/우버튼) */
    width: 100%;
    height: 697px;
    overflow: hidden;
    
}
.slide_banner li{
    position: absolute;
    /* 부모 : #slide_banner */
    top: 0;
    left:100%;
    width: 100%;
    height: 697px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    

}
/* 1번째 배너 */
.slide_banner li:nth-child(1){
    background-image: url(../images/slide_banner1.jpg);
    background-color: #00A2EA;
    left: 0;
}
/* 2번째 배너 */
.slide_banner li:nth-child(2){
    background-image: url(../images/slide_banner2.png);
    background-color: #1AA1D5;
}
/* 3번째 배너 */
.slide_banner li:nth-child(3){
    background-image: url(../images/slide_banner3.png);
    background-color: #FED5BB;
    
}
/* 4번째 배너 */
.slide_banner li:nth-child(4){
    background-image: url(../images/slide_banner4.png);
    background-color: #F6F8F8;
}
/* 5번째 배너 */
.slide_banner li:nth-child(5){
    background-image: url(../images/slide_banner5.png);
    background-color: #ffe103;
}
/* 6번째 배너 */
.slide_banner li:nth-child(6){
    background-image: url(../images/slide_banner6.png);
    background-color: #fb637e;
}
/* 7번째 배너 */
.slide_banner li:nth-child(7){
    background-image: url(../images/slide_banner7.png);
    background-color: #dbeffb;
    
}
/* 8번째 배너 */
.slide_banner li:nth-child(8){
    background-image: url(../images/slide_banner8.png);
    background-color: #5eb640;

}

@keyframes slideAni {

    
}


/* 부모 li 만큼 꽉차게 만듦 */
.slide_banner a{
    display: block;
    width: 100%;
    height: 100%;
}

/******* 2-3. 좌/우버튼 ********/
.btns a{
    position: absolute;
    /* 부모 : #slide_banner */
    top: 50%;
}
.btns a:first-child{
    left: 50px;
}
.btns a:last-child{
    right: 50px;
}

/******** 2-4. 하단 인디케이터 ********/
.indi{
    position: absolute;
    /* 부모 : #slide_banner */
    bottom: 10px;
    left: 50%;
    /* width: 300px; */
    /* height: 35px; */
    transform: translateX(-50%);
}
.indi a{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: 10px;
    transition: background-color .2s, scale .2s;
}

.indi a:hover{
    transform: scale(1.1);
    background-color: black;
}

/********************** 상단 배너 영역 끝 **********************/

/******** 이벤트 컨텐츠 ********/
.event{
    /* height: 800px; */
    /* -> 이벤트 이미지 조절 후 설정 */
    padding: 50px 0;
}
/* 3-1. 이벤트 타이틀 */
.etit{
    text-align: center;
    margin: 50px 0;
}

/* 3-2,3-3. 이벤트 이미지, 내용 영역 */
.event_list{
   
}
.event_list ul{
    position: relative;
     width: 1200px;
     margin: 0 auto;
}
.event_list li{
    float:left;
    width: 300px;
    height: 465px;
    box-sizing: border-box;
}

/* 3-3. 이벤트 내용 */
.event_list span{
    display: block;
}
.event_list .type{
    margin: 22px 0 8px 0;
}
.event_list .title{
    color: #2f231c;
    font-size: 17px;
    line-height: 23px;
}
.event_list .period{
    margin: 11px 0;
    font-weight: 300;
    color: #948780;
}

/* 3-4. 이벤트 인디케이터 */
.e_indi{
    width: 131px;
    /* height: 35px; */
    margin: 0 auto;
}
.e_indi a{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cdccd5;;
    margin: 10px;
    transition: background-color .2s, scale .2s;
}

.e_indi a:hover{
    transform: scale(1.2);
    background-color: black;
}

/****** 3-4. 메뉴 컨텐츠 : .menu_ct ********/

.menu_ct{
    height: 1157px;
    background: url(../images/bg_menu.jpg) no-repeat 50% 0;
    padding: 50px 0;
}
/* 메뉴 컨텐츠 타이틀  */
.menu_ct .mtitle{
    text-align: center;
    margin: 30px 0;
}

/* 메뉴 컨텐츠 이미지 */
.menu_ct .m_img{
    text-align: center;
}